
@inherits Components.BaseComponent
<div class="card mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5>@Tralnslate?.GetTranslation("Global Sumry")</h5>
        <button class="btn btn-outline-secondary" @onclick="ToggleGlobalSumry">
            @if (ShowGlobalSumry)
            {@*<span class="oi oi-minus">@Tralnslate?.GetTranslation("Hide")</span>*@
                            <span class="oi oi-minus"></span> }
                        else
                        {
            <span class="oi oi-plus"></span>}
        </button>
    </div>
    @if (ShowGlobalSumry)
    {
        @Content
    }
</div>
@code{ private bool ShowGlobalSumry = false;
            [Parameter]
            public RenderFragment Content { get; set; }
            private void ToggleGlobalSumry()
            {
                ShowGlobalSumry = !ShowGlobalSumry; // Toggle visibility
            } }
